.edit-container{
    width: 80%;
    margin: 20px auto;
}

.edit-container form{
    display: flex;
    flex-direction: column;
}

.edit-container form input{
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    outline:none;
    height: 33px;
    border-radius: 8px;
    margin: 10px 0;
    transition: 0.2s ease-in;
    padding: 5px;
}

.edit-container form input:hover{
    background-color: white;
    border: 2px solid #F37A6F;
}

.edit-container form textarea{
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    outline:none;
    height: 33px;
    border-radius: 8px;
    margin: 10px 0;
    transition: 0.2s ease-in;
    padding: 5px;
}

.edit-container form textarea:hover{
    background-color: white;
    border: 2px solid #F37A6F;
}

.edit-container form button{
    background-color: #F37A6F;
    border: none;
    border-radius: 8px;
    color: white;
    width: 150px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s ease-in;
    outline: none;
}

.edit-container form button:hover{
    background-color: #f75344;
}

.edit-error{
    color: #f75344;
    margin: 20px 0;
}